@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body {
  background-image: url(../images/background/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  h1 {
    size: 2rem;
    font-family: 'Pacifico', monospace;
  }
}

header, footer {
  background-color: rgba(255, 255, 255, 0.4);
}

.bottom-footer {
  bottom: 0;
  height: 3.5rem;
}

.exclude-footer {
  height: calc(100vh - 3.5rem);
}

.hide-scroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  @include media-breakpoint-between(lg, xl) {
    max-width: 768px;
  }
}

input::placeholder {
  font-style: italic;
  font-weight: normal;
}

.list-header {
  background-color: rgba(255, 255, 255, .5);
}
.list-group-item {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 0;
}

@keyframes blink {
  50% { border-color: #dc3545; }
}
.invalid-blink {
  animation-name: blink ;
  animation-duration: .25s ;
  animation-timing-function: step-end ;
  animation-iteration-count: 6 ;
  animation-direction: alternate ;
}

.fall-through-click {
  pointer-events: none;
}