@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body, .mh-100 {
  min-height:100vh;
}

body {
  background-image: url(../images/background/2.jpg);
  background-position: center;
}

header {
  h1 {
    size: 2rem;
    font-family: 'Pacifico', monospace;
  }
}

header, footer {
  background-color: rgba(255, 255, 255, 0.4);
}

footer {
  bottom: 0;
  height: 3.5rem;
}

.exclude-footer {
  overflow: auto;
  height: calc(100vh - 3.5rem);
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  @include media-breakpoint-between(lg, xl) {
    max-width: 768px;
  }
}

input::placeholder {
  font-style: italic;
  font-weight: normal;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0);
}
.category-row {
  background-color: rgba(255, 255, 255, .5);
  font-weight: 100
}

@keyframes blink {
  50% { border-color: #dc3545; }
}
.invalid-blink {
  animation-name: blink ;
  animation-duration: .25s ;
  animation-timing-function: step-end ;
  animation-iteration-count: 6 ;
  animation-direction: alternate ;
}