//overrides global theme when unable to do it via Bootstrap variables

@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url(fonts/Pacifico.ttf) format('truetype');
}

//$input-btn-focus-color seems to have no effect?
button:focus {
  outline: 5px auto #AAA;
}

//enlarges checkbox
.custom-control-input ~  .custom-control-label {
  &:before, &:after {
    transform: scale(1.5);
  }
}