body {
  background-image: url(./images/background/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hide-scroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
}

@keyframes blink {
  50% { border-color: #dc3545; }
}

.invalid-blink {
  animation-name: blink ;
  animation-duration: .25s ;
  animation-timing-function: step-end ;
  animation-iteration-count: 6 ;
  animation-direction: alternate ;
}